.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .slider-item {
    position: relative;
    text-align: center;
  }
  
  .slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
  }
  
  .slider-text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .slider-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .explore-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .explore-button:hover {
    background-color: #218838;
  }

  .slick-list{
    max-height: 600px;
  }

  .hero {
    background: url('your-image-path.jpg') center center/cover;
    text-align: center;
    color: black;
    background-color: gray;
  }
  
  .hero h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  
  .hero p {
    font-size: 1.5rem;
  }
  